<%= render "shared/single-header" %>
<%= form_with model: @user, url: user_registration_path, class: "registration-main", local: true do |f| %>
  <h1 class="form-header-text">新規会員登録</h1>
  <%= render "shared/error_messages", model: f.object, locals: {resource: @user} %>
  <label class="form-text", for="nickname">ニックネーム<span class="indispensable">必須</span></label>
  <%= f.text_field :nickname, class: "form-input", id:"nickname", placeholder: "ニックネームを入力", maxlength: "20", autofocus: true, required: true %>
  <label class="form-text", for="email">メールアドレス<span class="indispensable">必須</span></label>
  <%= f.email_field :email, class: "form-input", id:"email", placeholder:"メールアドレスを入力", required: true %>
  <label class="form-text", for="password">パスワード<span class="indispensable">必須</span></label>
  <%= f.password_field :password, class: "form-input", id:"password", placeholder:"パスワードを入力", required: true%>
  <p class='info-text'>※6文字以上のパスワードを設定してください</p>
  <label class="form-text", for="password-confirmation">パスワード(確認)<span class="indispensable">必須</span></label>
  <%= f.password_field :password_confirmation, class:"form-input", id:"password-confirmation", placeholder:"同じパスワードを入力", required: true %>
  <%= f.submit "登録", class: "form-submit" %>
<% end %>
