<aside class="side-bar", id="side-bar">
  <% if user_signed_in? %>
    <% current_user.boxes.each do |box| %>
      <%= link_to box.name, box_connects_path(box), class: "box" %>
    <% end %>
  <% end %>

  <div id="box-lists">
  </div>

  <%= form_with url: boxes_path, id:"box-form", method: :post do |f| %>
    <%= f.text_field :name, class: "new-box-text", id: "box-text", placeholder: "10文字以内で入力", style: 'display:none', maxlength:"10", required: true %>
    <%= f.hidden_field :position, value: 1 %>
    <%= f.submit "追加", class: "box-submit", id: "box-submit-id", style: "display:none" %>
  <% end %>
  <% if user_signed_in? %>
    <div class="new-box box" id="new-box" display="block">＋ グループ作成</div>
  <% end %>
</aside>