<%= render "shared/single-header"%>
<%= form_with model: @box, class: "up-box-form", local: true do |f| %>
  <%= f.text_field :name, placeholder: "リスト名入力", class: "up-box" %>
  <%= f.submit "更新", class: "up-box-submit" %>
<% end %>
<div class = "box-delete"><%= link_to "リスト削除", box_path, method: :delete, class: "box-delete-in" %></div>