<header class="top-page-header">
  <% if user_signed_in? %>
    <%= image_tag 'hamburger-menu.svg', class: "side-view nav", id: "side-view" %>
  <% end %>
  <%= link_to "Link", root_path, class: "nav title" %>
  <% if user_signed_in? %>
  <%= form_with url: search_box_connects_path(:box_id), method: :get, class: "search-form", local: true do |f| %>
    <%= f.text_field :title, placeholder: "タイトルを検索" %>
    <%= f.submit :search %>
  <% end %>

  <div class="delete-recent">
      <%= image_tag 'trash.svg' ,class: "nav" %>
      <ul class="delete-history">
        <% delete_history_get.each do |history| %>
        <div class="del-lists">
          <li><a class = "del-image-link" href= "<%= text_url_to_link(history.link) %>" target=_blank, rel="noopener noreferrer" ><img src="http://favicon.hatena.ne.jp/?url=<%= text_url_to_link(history.link) %>"></a></li>
          <li><%= link_to history.title, text_url_to_link(history.link), class: "del-link-title", target: :_blank, rel:"noopener noreferrer" %></li>
        </div>
        <% end %>
    </ul>
    </div>
    <%= link_to current_user.nickname, root_path, class: "nav user-nickname" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav logout" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "nav login" %>
    <%= link_to "新規登録", new_user_registration_path, class: "nav sign-up" %>
  <% end %>
</header>