<main class="main-page">
  <header class="m-header">
    <% if user_signed_in? && current_user.id == @box.user.id %>
      <div class = "b-title"><%= @box.name %></div>
      <div class = "all-open", id = "all-open-id">すべて開く：<%= @box.connects.count %></div>
      <%= link_to "編集", edit_box_path(@box.id), class: "box-edit" %>
    <% end %>
  </header>

  <div class="connect-list">
    <% @box.connects.each do |connect| %>
      <div class="connect-container">
        <a class = "image-link" href= "<%= text_url_to_link(connect.link) %>" target=_blank, rel="noopener noreferrer" ><img src="https://favicon.hatena.ne.jp/?url=<%= text_url_to_link(connect.link) %>" class="image-set"></a>
        <%= link_to connect.title, text_url_to_link(connect.link), class: "link-title", target: :_blank, rel:"noopener noreferrer" %>
        <%= link_to "削除", box_connect_path(@box, connect.id), method: :delete, class: "con-delete" %>
      </div>
    <% end %>
  </div>

  <%= form_with model: [@box, @connect], class: "connect-form", id: "connect-form", local: true do |f| %>
    <%= f.text_field :title, class: "connect-title", id: "connect-title-id", placeholder: "タイトル", style: "display:none", maxlength:"20", required: true %>
    <%= f.text_field :link, class: "connect-link", id: "connect-link-id", placeholder: "URL", style: "display:none", required: true %>
    <%= f.submit "追加", class: "connect-submit", id: "connect-submit-id", style: "display:none" %>
    <%= f.hidden_field :position, value: 1 %>
  <% end %>
  <div class ="add-connect" id ="add-connect-id" style="display:block">+ リンク作成</div>
</main>