<%= render "shared/header" %>
<h1 class="search-top-text">検索結果一覧 : <%= @search_connects.count %>件</h1>
<div class="connect-list">
  <% @search_connects.each do |connect| %>
    <div class="connect-container">
      <a class = "image-link" href= "<%= connect.link %>" target=_blank, rel="noopener noreferrer" ><img src="https://favicon.hatena.ne.jp/?url=<%= connect.link %>" class="image-set"></a>
      <%= link_to connect.title, connect.link, class: "link-title", target: :_blank, rel:"noopener noreferrer" %>
    </div>
  <% end %>
</div>
<% if @search_connects.count == 0 %>
  <p class="search-none">検索された文字列を含むリンクタイトルは存在しません。</p>
  <p class="search-all">登録済みのすべてのリンクを表示します。</p>
  <div class="connect-list">
    <% current_user.connects.each do |connect| %>
      <div class="connect-container">
        <a class = "image-link" href= "<%= connect.link %>" target=_blank, rel="noopener noreferrer" ><img src="https://favicon.hatena.ne.jp/?url=<%= connect.link %>" class="image-set"></a>
        <%= link_to connect.title, connect.link, class: "link-title", target: :_blank, rel:"noopener noreferrer" %>
      </div>
    <% end %>
  </div>
<% end %>